.toast-success {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
}

.toast-error {
  --mdc-snackbar-container-color: #aa2b22;
  --mdc-snackbar-supporting-text-color: white;
}

.toast-info {
  --mdc-snackbar-container-color: #2196f3;
  --mdc-snackbar-supporting-text-color: white;
}
